
body {
    background: 
    linear-gradient(to left, #8f3308, #353b5e );
    overflow: hidden;
}

.bulbpic{
}



#gameStart {
    width: 300px;
    height: 150px;
    position: relative;
    left: 50%;
    opacity: 1;
}

#namePet {
    display: flexbox;
}
#namePetInpt {
    border: 0px;
    padding: 1rem;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
}

#namePetBtn {
    padding: 1rem;
    border: 0px;
    margin-left: 0px;
    font-weight: bold;
    border-radius: 5px;
}

#namePetBtn a:hover,
button:hover {
    background-color: #c7bc77;
}

.hidden {
    display: none;
}







