body {
    font-family: sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    text-align: center;
  }
  
  h1 {
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
  }
  
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  /* Container styles */
  
  #gameContainer {
    width: 800px;
    margin: 0 auto; /* Center the container */
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Pet chooser styles */
  #petChooser {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  /* Image styles */
  #petImage {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 15%;
  }
  
  /* Name pet section styles */
  #namePet {
    margin-top: 20px;
  }
  
  #namePetInpt {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Stats section styles */
  #stats {
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  
  #stats p {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  progress {
    width: 200px;
    height: 20px;
  }
  
  button {
    padding: 20px 60px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

    box-shadow: 5px 5px 0 0 black;

    &:hover {
        cursor: pointer;
        background-color: #222222;
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &:disabled {
        background-color: #a2a2a2;
        color: #b6b6b6;
        cursor: not-allowed;
    }
}


